.about-list {
  h3 {
    margin-top: 32px !important;
  }

  .about-list-contents {
    padding-left: 20px;
  }

  .about-list-item {
    margin-left: 0 !important;
  }

  ol.about-list-item {
    padding-left: 20px;

    li {
      list-style-type: decimal !important;
      &::before {
        content: ''
      }
    }
  }

  .add-space {
    line-height: 1.5 !important;
  }

  p:last-child,
  li:last-child,
  ul.ui.list li:last-child,
  .item[role=listitem]:last-child {
    padding-bottom: 32px;
  }
}
