input[type=number] {
  -moz-appearance: textfield;

  &:hover,
  &:focus {
    -moz-appearance: number-input;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-textfield-decoration-container {
    border: 1px #ccc solid;
    background: #efefef;
  }
}



body {
  background-color: #1565C0;
  margin: 0;
  padding: 0;
  font-family: Segoe UI,Helvetica,Roboto,sans-serif;
  user-select: none;
}

#root {
  height: 100%;
  background-image: url('assets/images/background.png');
  background-repeat: no-repeat;
  background-position: relative;
  background-attachment: fixed;
  background-size: cover;
}
