.ui.accordion {
  color: #fff; }
  .ui.accordion .title:not(.ui) {
    color: #fff;
    font-weight: bold; }

input[type=number] {
  -moz-appearance: textfield; }
  input[type=number]:hover, input[type=number]:focus {
    -moz-appearance: number-input; }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input[type=number]::-webkit-textfield-decoration-container {
    border: 1px #ccc solid;
    background: #efefef; }

body {
  background-image: url("assets/images/background.png");
  background-repeat: no-repeat;
  background-position: relative;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Segoe UI,Helvetica,Roboto,sans-serif;
  user-select: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    body {
      background-image: url("assets/images/background.webp"); } } }

.label-register div {
  color: #FFFFFF;
  padding-right: 20px; }

.label-register img {
  width: 80px;
  padding-top: 3px; }

img#imgGoldSponsor {
  width: 120px; }

img#imgSupporter1 {
  width: 80px; }

img#imgSupporter4 {
  width: 90px; }

img#imgMediaPartner {
  width: 120px; }

.App-sponsor {
  margin-top: 20px; }

.App-sponsor div.menu {
  padding-top: 5px; }

.App-sponsor div.column {
  margin-left: 10px; }

.App-sponsor img {
  width: 80px;
  padding-top: 3px; }

.App-sponsor div.communityLogo img {
  padding-top: 15px; }

.communityLogo img {
  margin-left: 3px; }

.MenuBottom a {
  padding: 0 3px 0 3px; }

.menu-topright {
  float: right;
  padding: 0 5px 0 5px;
  font-size: 14px;
  color: red; }

.menu-topright a:link, a:visited {
  color: yellow; }

.menu-topright a:hover {
  color: red; }

.App-footer div.column {
  font-size: 10px;
  color: #ddd; }

.ui.header,
.ui.card > .content > .header,
.ui.list,
ul.ui.list li::before,
span,
ul {
  color: #fff; }

.message > .content > p {
  color: #000; }

.ui.accordion .title {
  padding-bottom: 5px !important; }

.ui.accordion .content {
  padding-top: 0px !important;
  padding-left: 30px !important; }
